body {
    margin: 0;
    background: linear-gradient(#750080, #CA6100);
    background-repeat: no-repeat;
    color: white;
}

img {
    position: relative;
    width: 174px;
    height: auto;
    left: 94px;
    top: 52px;
}


/* Navigation Style */
header nav {
    position: relative;
    min-width: 100%;
    padding: 5px;
    /*min-height: 46px;*/
    left: 0px;
    top: 0px;

    background: linear-gradient(163.2deg, #CE03C6 48.67%, #9300C7 131.42%);
}

.nav-list {
    display: flex;
    gap: 1rem;
    margin: 10px;
    padding: 0;
    list-style: none;
}

.nav-list li {
    margin-top: 15px;
    margin-right: 15px;
    text-align: center;
    flex-grow: 1;
}

.nav-links {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links:hover {
    color: purple;
}


/*Hero Style*/

#hero-heading {
    text-align: center;
    margin-top: 70px;
}

#hero-subtext {
    text-align: center;
    position: relative;
    margin: 0 auto;
    /*width: 247px;
    height: 33px;
    left: 75px;
    top: 73px;*/

    font-size: 25px;
}

.social-logos {
    width: 7%;
    height: auto;
    margin: 16px;
    position: relative;
    left: 12px;
    top: 0;
    display: flex;
}

.socials {
    list-style: none;
    position: relative;
    width: 237px;
    height: 38px;
    left: 72px;
    top: 125px;

    font-size: 1.3rem;
}

.social-links {
    color: white;
    text-decoration: none;
}
.social-links:hover {
    color: orange;
}

/*Footer Style*/

footer {
    background: linear-gradient(163.2deg, #CE03C6 48.67%, #9300C7 131.42%);
    border-top: 1px solid #FA00FF;
    position: relative;
    min-width: 100%;
    padding: 5px;
    /*min-height: 46px;*/
    left: 0px;
}

#copyright {
    text-align: center;
}

/*Responsiveness*/

@media screen and (min-width: 500px) {
    header nav {
        width: 470px;
    }

    #hero-subtext {
        position: relative;
        left: 95px;
        top: 73px;
    }
    
    .social-logos {
        left: 22px;
        top: -30px;
        margin: 20px;
    }
    
    .socials {
        margin: 11px;
        left: 95px;
        top: 125px;
    }



    footer {
        width: 470px;
    }
}

/*@media screen and (max-width: 1920px) {

    img {
        position: relative;
        width: 174px;
        height: 177px;
        left: 350px;
        top: 82px;
    }



    header nav {
        width: 1920px;
        font-size: 20px;
    }

    #hero-heading {
        position: relative;
        width: 311px;
        height: 76px;
        left: 300px;
        top: 77px;
    
        font-size: 48px;
    }

    #hero-subtext {
        left: 335px;
        top: 73px;
    }
    
    .social-logos {
        left: 22px;
        top: -30px;
        margin: 20px;
    }
    
    .socials {
        margin: 11px;
        left: 335px;
        top: 125px;
    }



    footer {
        width: 1920px;
    }
}*/